## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(["EIN", "NAME"], axis = 1, inplace = True)
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
value_counts = application_df["APPLICATION_TYPE"].value_counts()
value_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(value_counts[value_counts<500].index)  # Here I have chosen cutoff value = 500

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df['CLASSIFICATION'].value_counts()

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification = application_df['CLASSIFICATION'].value_counts()
classification

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_counts[classification_counts < 1000].index)  ## Here I have chosen calssification cutoff value = 1000

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
app_dummies = pd.get_dummies(application_df)
app_dummies.head(15)

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
5,1,5000,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
6,1,31452,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
7,1,7508025,1,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,1,0
8,1,94389,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
9,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
10,1,69656,0,0,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,1,0
11,1,165593,0,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
12,1,5000,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
13,1,5301,1,0,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,1,0
14,1,5000,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [10]:
# Split our preprocessed data into our features and target arrays
# drop "IS_SUCCESFUL" column to make it dependent
X = app_dummies.drop('IS_SUCCESSFUL', axis=1).values
y = app_dummies['IS_SUCCESSFUL'].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 78)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [13]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_features = len(X_train[0])
hidden_layer1 = 80
hidden_layer2 = 30


nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_layer1, input_dim = input_features, activation = "relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_layer2, input_dim = input_features, activation = "relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 80)                3520

 dense_4 (Dense)             (None, 30)                2430

 dense_5 (Dense)             (None, 1)                 31

=================================================================
Total params: 5,981
Trainable params: 5,981
Non-trainable params: 0
_________________________________________________________________

In [14]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [16]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100, validation_split=0.2)

Epoch 1/100
644/644 [==============================] - 5s 7ms/step - loss: 0.5337 - accuracy: 0.7427 - val_loss: 0.5435 - val_accuracy: 0.7337
Epoch 2/100
644/644 [==============================] - 2s 2ms/step - loss: 0.5336 - accuracy: 0.7430 - val_loss: 0.5442 - val_accuracy: 0.7322
Epoch 3/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5332 - accuracy: 0.7443 - val_loss: 0.5464 - val_accuracy: 0.7320
Epoch 4/100
644/644 [==============================] - 3s 4ms/step - loss: 0.5327 - accuracy: 0.7438 - val_loss: 0.5480 - val_accuracy: 0.7312
Epoch 5/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5331 - accuracy: 0.7432 - val_loss: 0.5476 - val_accuracy: 0.7320
Epoch 6/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5329 - accuracy: 0.7436 - val_loss: 0.5490 - val_accuracy: 0.7308
Epoch 7/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5328 - accuracy: 0.7433 - val_loss: 0.5502 - val_accuracy: 0.7306
Epoch 8/100
644/644 [==============================] - 2s 2ms/step - loss: 0.5322 - accuracy: 0.7447 - val_loss: 0.5539 - val_accuracy: 0.7298
Epoch 9/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5331 - accuracy: 0.7424 - val_loss: 0.5509 - val_accuracy: 0.7306
Epoch 10/100
644/644 [==============================] - 2s 2ms/step - loss: 0.5322 - accuracy: 0.7428 - val_loss: 0.5520 - val_accuracy: 0.7304
Epoch 11/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5326 - accuracy: 0.7433 - val_loss: 0.5524 - val_accuracy: 0.7322
Epoch 12/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5323 - accuracy: 0.7429 - val_loss: 0.5514 - val_accuracy: 0.7312
Epoch 13/100
644/644 [==============================] - 2s 2ms/step - loss: 0.5323 - accuracy: 0.7437 - val_loss: 0.5539 - val_accuracy: 0.7310
Epoch 14/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5326 - accuracy: 0.7427 - val_loss: 0.5527 - val_accuracy: 0.7304
Epoch 15/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5326 - accuracy: 0.7436 - val_loss: 0.5529 - val_accuracy: 0.7275
Epoch 16/100
644/644 [==============================] - 2s 2ms/step - loss: 0.5325 - accuracy: 0.7440 - val_loss: 0.5523 - val_accuracy: 0.7289
Epoch 17/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5319 - accuracy: 0.7438 - val_loss: 0.5543 - val_accuracy: 0.7283
Epoch 18/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5321 - accuracy: 0.7430 - val_loss: 0.5555 - val_accuracy: 0.7293
Epoch 19/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5321 - accuracy: 0.7429 - val_loss: 0.5544 - val_accuracy: 0.7294
Epoch 20/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5322 - accuracy: 0.7437 - val_loss: 0.5560 - val_accuracy: 0.7287
Epoch 21/100
644/644 [==============================] - 2s 2ms/step - loss: 0.5324 - accuracy: 0.7439 - val_loss: 0.5547 - val_accuracy: 0.7283
Epoch 22/100
644/644 [==============================] - 2s 2ms/step - loss: 0.5318 - accuracy: 0.7436 - val_loss: 0.5545 - val_accuracy: 0.7293
Epoch 23/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5321 - accuracy: 0.7432 - val_loss: 0.5556 - val_accuracy: 0.7281
Epoch 24/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5321 - accuracy: 0.7440 - val_loss: 0.5559 - val_accuracy: 0.7308
Epoch 25/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5323 - accuracy: 0.7427 - val_loss: 0.5540 - val_accuracy: 0.7291
Epoch 26/100
644/644 [==============================] - 2s 4ms/step - loss: 0.5317 - accuracy: 0.7437 - val_loss: 0.5572 - val_accuracy: 0.7287
Epoch 27/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5318 - accuracy: 0.7432 - val_loss: 0.5569 - val_accuracy: 0.7287
Epoch 28/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5319 - accuracy: 0.7436 - val_loss: 0.5567 - val_accuracy: 0.7285
Epoch 29/100
644/644 [==============================] - 2s 2ms/step - loss: 0.5317 - accuracy: 0.7438 - val_loss: 0.5566 - val_accuracy: 0.7287
Epoch 30/100
644/644 [==============================] - 2s 2ms/step - loss: 0.5315 - accuracy: 0.7437 - val_loss: 0.5556 - val_accuracy: 0.7287
Epoch 31/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5318 - accuracy: 0.7437 - val_loss: 0.5562 - val_accuracy: 0.7304
Epoch 32/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5315 - accuracy: 0.7432 - val_loss: 0.5571 - val_accuracy: 0.7289
Epoch 33/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5317 - accuracy: 0.7439 - val_loss: 0.5588 - val_accuracy: 0.7269
Epoch 34/100
644/644 [==============================] - 3s 4ms/step - loss: 0.5318 - accuracy: 0.7437 - val_loss: 0.5564 - val_accuracy: 0.7293
Epoch 35/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5310 - accuracy: 0.7430 - val_loss: 0.5579 - val_accuracy: 0.7287
Epoch 36/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5318 - accuracy: 0.7436 - val_loss: 0.5625 - val_accuracy: 0.7258
Epoch 37/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5316 - accuracy: 0.7437 - val_loss: 0.5572 - val_accuracy: 0.7293
Epoch 38/100
644/644 [==============================] - 2s 2ms/step - loss: 0.5312 - accuracy: 0.7436 - val_loss: 0.5567 - val_accuracy: 0.7283
Epoch 39/100
644/644 [==============================] - 2s 2ms/step - loss: 0.5311 - accuracy: 0.7441 - val_loss: 0.5583 - val_accuracy: 0.7283
Epoch 40/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5315 - accuracy: 0.7434 - val_loss: 0.5583 - val_accuracy: 0.7273
Epoch 41/100
644/644 [==============================] - 2s 4ms/step - loss: 0.5314 - accuracy: 0.7430 - val_loss: 0.5580 - val_accuracy: 0.7277
Epoch 42/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5313 - accuracy: 0.7444 - val_loss: 0.5611 - val_accuracy: 0.7281
Epoch 43/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5308 - accuracy: 0.7437 - val_loss: 0.5589 - val_accuracy: 0.7281
Epoch 44/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5313 - accuracy: 0.7432 - val_loss: 0.5591 - val_accuracy: 0.7287
Epoch 45/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5311 - accuracy: 0.7433 - val_loss: 0.5605 - val_accuracy: 0.7283
Epoch 46/100
644/644 [==============================] - 2s 2ms/step - loss: 0.5311 - accuracy: 0.7433 - val_loss: 0.5605 - val_accuracy: 0.7275
Epoch 47/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5311 - accuracy: 0.7443 - val_loss: 0.5599 - val_accuracy: 0.7275
Epoch 48/100
644/644 [==============================] - 2s 4ms/step - loss: 0.5309 - accuracy: 0.7433 - val_loss: 0.5597 - val_accuracy: 0.7271
Epoch 49/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5313 - accuracy: 0.7440 - val_loss: 0.5597 - val_accuracy: 0.7277
Epoch 50/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5313 - accuracy: 0.7437 - val_loss: 0.5607 - val_accuracy: 0.7273
Epoch 51/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5311 - accuracy: 0.7438 - val_loss: 0.5621 - val_accuracy: 0.7269
Epoch 52/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5311 - accuracy: 0.7437 - val_loss: 0.5597 - val_accuracy: 0.7259
Epoch 53/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5316 - accuracy: 0.7442 - val_loss: 0.5650 - val_accuracy: 0.7263
Epoch 54/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5313 - accuracy: 0.7440 - val_loss: 0.5588 - val_accuracy: 0.7285
Epoch 55/100
644/644 [==============================] - 3s 4ms/step - loss: 0.5307 - accuracy: 0.7428 - val_loss: 0.5617 - val_accuracy: 0.7283
Epoch 56/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5306 - accuracy: 0.7448 - val_loss: 0.5629 - val_accuracy: 0.7256
Epoch 57/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5307 - accuracy: 0.7437 - val_loss: 0.5607 - val_accuracy: 0.7256
Epoch 58/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5306 - accuracy: 0.7444 - val_loss: 0.5613 - val_accuracy: 0.7261
Epoch 59/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5308 - accuracy: 0.7439 - val_loss: 0.5631 - val_accuracy: 0.7263
Epoch 60/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5305 - accuracy: 0.7447 - val_loss: 0.5607 - val_accuracy: 0.7263
Epoch 61/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5310 - accuracy: 0.7431 - val_loss: 0.5615 - val_accuracy: 0.7269
Epoch 62/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5306 - accuracy: 0.7446 - val_loss: 0.5613 - val_accuracy: 0.7275
Epoch 63/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5304 - accuracy: 0.7440 - val_loss: 0.5619 - val_accuracy: 0.7285
Epoch 64/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5306 - accuracy: 0.7444 - val_loss: 0.5625 - val_accuracy: 0.7263
Epoch 65/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5306 - accuracy: 0.7440 - val_loss: 0.5643 - val_accuracy: 0.7265
Epoch 66/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5303 - accuracy: 0.7433 - val_loss: 0.5629 - val_accuracy: 0.7256
Epoch 67/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5302 - accuracy: 0.7441 - val_loss: 0.5629 - val_accuracy: 0.7267
Epoch 68/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5310 - accuracy: 0.7431 - val_loss: 0.5679 - val_accuracy: 0.7258
Epoch 69/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5303 - accuracy: 0.7438 - val_loss: 0.5654 - val_accuracy: 0.7269
Epoch 70/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5307 - accuracy: 0.7439 - val_loss: 0.5628 - val_accuracy: 0.7254
Epoch 71/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5304 - accuracy: 0.7442 - val_loss: 0.5626 - val_accuracy: 0.7267
Epoch 72/100
644/644 [==============================] - 2s 2ms/step - loss: 0.5306 - accuracy: 0.7442 - val_loss: 0.5633 - val_accuracy: 0.7254
Epoch 73/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5300 - accuracy: 0.7435 - val_loss: 0.5669 - val_accuracy: 0.7269
Epoch 74/100
644/644 [==============================] - 2s 2ms/step - loss: 0.5307 - accuracy: 0.7443 - val_loss: 0.5635 - val_accuracy: 0.7271
Epoch 75/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5301 - accuracy: 0.7443 - val_loss: 0.5697 - val_accuracy: 0.7259
Epoch 76/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5304 - accuracy: 0.7442 - val_loss: 0.5637 - val_accuracy: 0.7265
Epoch 77/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5304 - accuracy: 0.7440 - val_loss: 0.5642 - val_accuracy: 0.7271
Epoch 78/100
644/644 [==============================] - 2s 2ms/step - loss: 0.5317 - accuracy: 0.7438 - val_loss: 0.5671 - val_accuracy: 0.7277
Epoch 79/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5304 - accuracy: 0.7439 - val_loss: 0.5663 - val_accuracy: 0.7263
Epoch 80/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5306 - accuracy: 0.7426 - val_loss: 0.5657 - val_accuracy: 0.7265
Epoch 81/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5301 - accuracy: 0.7437 - val_loss: 0.5647 - val_accuracy: 0.7242
Epoch 82/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5301 - accuracy: 0.7441 - val_loss: 0.5649 - val_accuracy: 0.7254
Epoch 83/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5298 - accuracy: 0.7443 - val_loss: 0.5699 - val_accuracy: 0.7254
Epoch 84/100
644/644 [==============================] - 2s 4ms/step - loss: 0.5301 - accuracy: 0.7443 - val_loss: 0.5689 - val_accuracy: 0.7261
Epoch 85/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5305 - accuracy: 0.7442 - val_loss: 0.5686 - val_accuracy: 0.7248
Epoch 86/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5305 - accuracy: 0.7438 - val_loss: 0.5694 - val_accuracy: 0.7271
Epoch 87/100
644/644 [==============================] - 2s 2ms/step - loss: 0.5301 - accuracy: 0.7444 - val_loss: 0.5696 - val_accuracy: 0.7263
Epoch 88/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5300 - accuracy: 0.7439 - val_loss: 0.5721 - val_accuracy: 0.7259
Epoch 89/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5309 - accuracy: 0.7440 - val_loss: 0.5723 - val_accuracy: 0.7256
Epoch 90/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5303 - accuracy: 0.7442 - val_loss: 0.5907 - val_accuracy: 0.7246
Epoch 91/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5311 - accuracy: 0.7434 - val_loss: 0.5710 - val_accuracy: 0.7265
Epoch 92/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5305 - accuracy: 0.7443 - val_loss: 0.5700 - val_accuracy: 0.7275
Epoch 93/100
644/644 [==============================] - 2s 2ms/step - loss: 0.5304 - accuracy: 0.7440 - val_loss: 0.5696 - val_accuracy: 0.7283
Epoch 94/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5301 - accuracy: 0.7428 - val_loss: 0.5696 - val_accuracy: 0.7267
Epoch 95/100
644/644 [==============================] - 2s 2ms/step - loss: 0.5299 - accuracy: 0.7443 - val_loss: 0.5726 - val_accuracy: 0.7267
Epoch 96/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5303 - accuracy: 0.7443 - val_loss: 0.5700 - val_accuracy: 0.7259
Epoch 97/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5301 - accuracy: 0.7444 - val_loss: 0.5710 - val_accuracy: 0.7246
Epoch 98/100
644/644 [==============================] - 3s 4ms/step - loss: 0.5304 - accuracy: 0.7436 - val_loss: 0.5732 - val_accuracy: 0.7238
Epoch 99/100
644/644 [==============================] - 2s 2ms/step - loss: 0.5302 - accuracy: 0.7442 - val_loss: 0.5705 - val_accuracy: 0.7254
Epoch 100/100
644/644 [==============================] - 2s 2ms/step - loss: 0.5302 - accuracy: 0.7437 - val_loss: 0.5710 - val_accuracy: 0.7230

In [17]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5612 - accuracy: 0.7259 - 398ms/epoch - 1ms/step
Loss: 0.5611957311630249, Accuracy: 0.7259474992752075

In [19]:
# Export our model to HDF5 file
nn.save("AlphabetSoup_CharityFunding_model.h5")